
    .cabeçalho{
    background-color:rgb(16, 153, 16);
    margin: 0 10px;
    display: block;
    font-size: 34px;
    
    }
    

    
    .cabeçalho-um{
    width: 80px;
    text-align: justify;
    }
   

    .texto-um{
    font-size: 20px;
    text-align: justify;
  
   }
    .texto-dois{
    font-size: 20px;
    text-align: justify;

    }
    
    
    .texto-três{
    font-size: 20px;
    text-align: justify;

    }
    
    .texto-quatro{
    font-size: 20px;
    text-align: justify;

    }
    
    .imagens{
        width: 40%;
       
    }
    
    .drone-imagem{
        width: 30%;
        
    }
    
    
    .trator-imagem{
        width: 30%;
    }
    
    .GPS-agricula-imagem{
        width: 30%;
      
    }
    
    .Softwares-imagem{
       width: 30%;

    }