
    .cabeçalho{
    background-color:rgb(16, 153, 16);
    margin: 0 20px;
    display: block;
    
    }
    

    
    .cabeçalho-um{
    width: 80px;
    text-align: justify;
    }
   

    .texto-um{
    font-size: 20px;
    text-align: justify;
  
   }
    .texto-dois{
    font-size: 20px;
    text-align: justify;

    }
    
    
    .texto-três{
    font-size: 20px;
    text-align: justify;

    }
    
    .texto-quatro{
    font-size: 20px;
    text-align: justify;

    }
    
    .imagens{
       
    }
    
    .drone-div{
        
    }
    
    
    .trator-div{
        
    }
    
    .GPS-agricula-div{
      
    }
